.CALabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.CAHighlight {
    text-align: center;
    color: #a71420;
}

button.CAButton {
    width: 100%;
    padding: 10px;
    background-color: #912338;
    color: white;
    border: 1px solid #a71420;;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.6s ease, border 0.6s ease, color 0.2s ease;
}

button:hover {
    background-color: #ffffff;
    border: 1px solid #a71420;
    color: #a71420;
    font-weight:bold;
}