.l-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.l-highlight {
    text-align: center;
    color: #666;
}

button.l-button {
    width: 100%;
    padding: 10px;
    background-color: #912338;
    color: white;
    border: 1px solid #a71420;;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.6s ease, border 0.6s ease, color 0.2s ease;
}

button.l-button:disabled {
    background-color: #666;
    border: 1px solid white;
}

button.l-button:disabled:hover {
    background-color: #fff;
    border: 1px solid #666;
    color: #666;
    font-weight:bold;
}