.navigation {
    margin-top: 20px;
  }
  
  .nav-button {
    display: inline-block;
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #912338; /* Concordia maroon */
    text-decoration: none; /* Remove underline */
  }
  
  .nav-button:hover {
    background-color: #d4d4d4;
  }