.PRtable {
    border: none;
    width: 70%;
    margin: auto;
}

table .Prth {
    height: inherit;
    width: inherit;
    white-space: nowrap;
}

.PRth {
    border: none;
    height: 1px;
    text-align: center;
    margin: auto;

}

.PRlabel { 
    display: block;
    align-content: center;
    text-align: center;
    width: auto;
    min-height: 100%; /* for the latest browsers which support min-height */
    height: auto !important; /* for newer IE versions */
    height: 100%; /* the only height-related attribute that IE6 does not ignore  */
}

.PRth.entities {
    text-align: left;
}

textarea {
    width: 90%;
}