.pr-table {
    border: none;
    width: 70%;
    margin: auto;
}

.pr-th {
    border: none;
    height: 1px;
    text-align: center;
    margin: auto;
}

table .pr-th {
    height: inherit;
    width: inherit;
    white-space: nowrap;
}

.pr-label { 
    display: block;
    align-content: center;
    text-align: center;
    width: auto;
    min-height: 100%; /* for the latest browsers which support min-height */
    height: auto !important; /* for newer IE versions */
    height: 100%; /* the only height-related attribute that IE6 does not ignore  */
}

.pr-th.entities {
    text-align: left;
}

textarea {
    width: 90%;
}