/* Toggle Buttons between Student View and Team View*/

.ToggleNavigation {
    display: flex;
    justify-content: center;
}

button.ToggleView {
    width: 150px;
    padding: 5px;
    margin: 10px;
    background-color: #912338;
    color: white;
    border: 1px solid #a71420;;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.6s ease, border 0.6s ease, color 0.2s ease;
}

button:enabled:hover {
    background-color: #ffffff;
    border: 1px solid #a71420;
    color: #a71420;
    font-weight:bold;
}